@page
@model Passwordless.AdminConsole.Pages.Billing.Manage

@{

}

<div id="plan-selection" asp-if="!Model.Organization.HasSubscription">
    <h2>Plans</h2>
    <div class="space-y-4 sm:space-y-0 sm:flex sm:flex-wrap sm:gap-4 sm:grid sm:grid-cols-1 md:grid-cols-3">
        @foreach (var plan in Model.Plans)
        {
            <div class="pricing-card">
                <h3 class="text-center">@plan.Name</h3>
                <div class="space-y-0">
                    <p class="text-lg font-black text-center">@plan.Plan.Ui.Price</p>
                    <p class="text-sm text-gray-600 text-center">per user per month@(!string.IsNullOrEmpty(plan.Plan.Ui.PriceHint) ? "*" : string.Empty)</p>
                </div>
                <div class="flex-1">
                    <ul class="mt-4 space-y-2">
                        @foreach (var feature in plan.Plan.Ui.Features)
                        {
                            <li class="flex items-start">
                                <feature-list-item-icon class="flex-shrink-0 w-5 h-5 mr-2"></feature-list-item-icon>
                                @feature
                            </li>
                        }
                    </ul>
                </div>
                <div asp-if="!string.IsNullOrEmpty(plan.Plan.PriceId)" class="mt-auto text-center space-y-4">
                    <p asp-if="!string.IsNullOrEmpty(plan.Plan.Ui.PriceHint)" class="text-xs text-gray-600 text-center">* @(plan.Plan.Ui.PriceHint)</p>
                    @if (!Model.Organization.HasSubscription)
                    {
                        <form method="post">
                            <input type="hidden" name="planName" value="@plan.Name"/>
                            <button asp-page-handler="Subscribe" type="submit" class="btn-primary">Subscribe</button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>
</div>
<div id="applications-list">
    <h2>Applications</h2>
    <div class="table-container">
        <table class="tbl-default min-w-full">
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Users</th>
                <th>Plan</th>
                <th asp-if="Model.Organization.HasSubscription">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var app in Model.Applications)
            {
                <tr>
                    <td>@app.Id</td>
                    <td>@app.Description</td>
                    <td>@app.CurrentUserCount</td>
                    <td>@app.BillingPlan</td>
                    <td asp-if="Model.Organization.HasSubscription">
                        <form method="post">
                            <input type="hidden" name="id" value="@app.Id"/>
                            <button asp-page-handler="ChangePlan" type="submit" class="btn-primary">
                                <partial name="Shared/Icons/PencilSquare"/>
                            </button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div id="subscription-admin" asp-if="Model.Organization.HasSubscription">
    <h2>Payment methods</h2>
    <div class="space-y-4 sm:space-y-0 sm:flex sm:flex-wrap sm:gap-4 sm:grid sm:grid-cols-1">
        <p>Manage &amp; update your payment information and billing details.</p>
        <form method="post">
            <button asp-page-handler="Manage" type="submit" class="btn-primary">Update payment methods</button>
        </form>
        <div class="table-container">
            <table class="tbl-default min-w-full">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Number</th>
                    <th>Expiration Date</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var paymentMethod in Model.PaymentMethods)
                {
                    <tr>
                        <td class="w-5">
                            <partial name="@paymentMethod.CardIcon"/>
                        </td>
                        <td>@paymentMethod.Number</td>
                        @if (paymentMethod.ExpirationDate < DateTime.UtcNow.AddMonths(-1))
                        {
                            <td>@paymentMethod.ExpirationDate.ToString("MM/yyyy")</td>
                        }
                        else
                        {
                            <td class="text-danger">@paymentMethod.ExpirationDate.ToString("MM/yyyy")</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>