@page
@model Passwordless.AdminConsole.Pages.Billing.Manage

<panel header="Upgrade to add multiple applications">
    <p>Your Free Organization includes 1 Trial app (up to 10k users) and 1 console administrator. </p>
    <form method="post">
        <button asp-page-handler="UpgradePro" class="btn-primary" type="submit">Upgrade to a Paid Organization</button>
    </form>
    <p class="text-xs">Your Trial app will be upgraded to a Pro app. Estimated variable cost $@(Math.Round(Model.Applications.Select(a => a.Users).Sum() * 0.05, 2))/month. See <a class="link-blue" href="https://bitwarden.com/products/passwordless/#pricing">Pricing page</a> for details.</p>
</panel>

<panel header="Applications">
    <div class="table-container">
        <table class="tbl-default min-w-full">
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Users</th>
                <th colspan="2">Plan</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Applications.Any())
            {
                @foreach (var app in Model.Applications)
                {
                    <tr>
                        <td>@app.Id</td>
                        <td>@app.Description</td>
                        <td>@app.Users</td>
                        <td>@app.Plan</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="id" value="@app.Id"/>
                                <button asp-page-handler="ChangePlan" type="submit" class="btn-primary">
                                    <partial name="Shared/Icons/PencilSquare"/>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No applications found.</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</panel>

@if (Model.Organization.HasSubscription)
{
    <panel header="Payment Methods">
        <div class="space-y-4 sm:space-y-0 sm:flex sm:flex-wrap sm:gap-4 sm:grid sm:grid-cols-1">
            <p>Manage &amp; update your payment information and billing details.</p>
            <form method="post">
                <button asp-page-handler="Manage" type="submit" class="btn-primary">Update payment methods</button>
            </form>
            <div class="table-container">
                <table class="tbl-default min-w-full">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Number</th>
                        <th>Expiration Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var paymentMethod in Model.PaymentMethods)
                    {
                        <tr>
                            <td class="w-5">
                                <partial name="@paymentMethod.CardIcon"/>
                            </td>
                            <td>@paymentMethod.Number</td>
                            @if (paymentMethod.ExpirationDate < DateTime.UtcNow.AddMonths(-1))
                            {
                                <td>@paymentMethod.ExpirationDate.ToString("MM/yyyy")</td>
                            }
                            else
                            {
                                <td class="text-danger">@paymentMethod.ExpirationDate.ToString("MM/yyyy")</td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </panel>
}