@page
@model Passwordless.AdminConsole.Pages.Billing.Manage

<div id="applications-list">
    <h2>Applications</h2>
    <div class="table-container">
        <table class="tbl-default min-w-full">
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Users</th>
                <th>Plan</th>
                <th asp-if="Model.Organization.HasSubscription">Actions</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Applications.Any())
            {
                @foreach (var app in Model.Applications)
                {
                    <tr>
                        <td>@app.Id</td>
                        <td>@app.Description</td>
                        <td>@app.Users</td>
                        <td>@app.Plan</td>
                        <td asp-if="Model.Organization.HasSubscription">
                            <form method="post">
                                <input type="hidden" name="id" value="@app.Id"/>
                                <button asp-page-handler="ChangePlan" type="submit" class="btn-primary">
                                    <partial name="Shared/Icons/PencilSquare"/>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No applications found.</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div id="subscription-admin" asp-if="Model.Organization.HasSubscription">
    <h2>Payment methods</h2>
    <div class="space-y-4 sm:space-y-0 sm:flex sm:flex-wrap sm:gap-4 sm:grid sm:grid-cols-1">
        <p>Manage &amp; update your payment information and billing details.</p>
        <form method="post">
            <button asp-page-handler="Manage" type="submit" class="btn-primary">Update payment methods</button>
        </form>
        <div class="table-container">
            <table class="tbl-default min-w-full">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Number</th>
                    <th>Expiration Date</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var paymentMethod in Model.PaymentMethods)
                {
                    <tr>
                        <td class="w-5">
                            <partial name="@paymentMethod.CardIcon"/>
                        </td>
                        <td>@paymentMethod.Number</td>
                        @if (paymentMethod.ExpirationDate < DateTime.UtcNow.AddMonths(-1))
                        {
                            <td>@paymentMethod.ExpirationDate.ToString("MM/yyyy")</td>
                        }
                        else
                        {
                            <td class="text-danger">@paymentMethod.ExpirationDate.ToString("MM/yyyy")</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>