@page
@model Passwordless.AdminConsole.Pages.Billing.Manage

@{

}

<div id="plan-selection">
    <h2>Plans</h2>
    <div class="space-y-4 sm:space-y-0 sm:flex sm:flex-wrap sm:gap-4 sm:grid sm:grid-cols-1 md:grid-cols-3">
        @foreach (var plan in Model.Plans)
        {
            <div class="@(plan.IsActive ? "pricing-card-active": "pricing-card")">
                <div class="flex flex-wrap items-center justify-center">
                    <badge class="@(plan.IsActive ? string.Empty : "invisible")" text="Active"></badge>
                </div>
                <h3 class="text-center">@plan.Name</h3>
                <div class="space-y-0">
                    <p class="text-lg font-black text-center">@plan.Plan.Ui.Price</p>
                    <p class="text-sm text-gray-600 text-center">per user per month@(!string.IsNullOrEmpty(plan.Plan.Ui.PriceHint) ? "*" : string.Empty)</p>
                </div>
                <div class="flex-1">
                    <ul class="mt-4 space-y-2">
                        @foreach (var feature in plan.Plan.Ui.Features)
                        {
                            <li class="flex items-start">
                                <feature-list-item-icon class="flex-shrink-0 w-5 h-5 mr-2"></feature-list-item-icon>
                                @feature
                            </li>
                        }
                    </ul>
                </div>
                <div asp-if="!string.IsNullOrEmpty(plan.Plan.PriceId)" class="mt-auto text-center space-y-4">
                    <p asp-if="!string.IsNullOrEmpty(plan.Plan.Ui.PriceHint)" class="text-xs text-gray-600 text-center">* @(plan.Plan.Ui.PriceHint)</p>
                    @if (!plan.IsActive)
                    {
                        <form method="post">
                            <input type="hidden" name="planName" value="@plan.Name"/>
                            <button asp-page-handler="Subscribe" type="submit" class="btn-primary">Subscribe</button>
                        </form>
                    }
                    @if (plan.IsActive && !string.IsNullOrWhiteSpace(plan.Plan.PriceId))
                    {
                        <form method="post">
                            <button asp-page-handler="Manage" type="submit" class="btn-primary">Manage</button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>
</div>
<div id="plans-list">
    
</div>