@page
@using Microsoft.AspNetCore.Antiforgery
@model Passwordless.AdminConsole.Pages.Account.Profile
@inject IAntiforgery Antiforgery
@inject IPasswordlessClient PasswordlessClient

@{
    ViewData["Title"] = "Profile Settings";
    var requestToken = Antiforgery.GetAndStoreTokens(Model.HttpContext).RequestToken;
}

<div class="panel">
    <h2>Passkeys</h2>   
    <component type="typeof(Credentials)" render-mode="Static" param-HideDetails="@false" param-PasswordlessClient="@PasswordlessClient" param-UserId="@Model.UserId" param-CanDelete="@Model.CanDeleteCredentials" />
    <component asp-if="!@Model.CanDeleteCredentials" type="typeof(Alert)" render-mode="Static" param-Style="@(ContextualStyles.Warning)" param-ChildContent="@(new RenderFragment(builder => { builder.AddContent(0, "Magic links are disabled for admins in this organization, you cannot delete credentials"); }))" />
    <partial name="Shared/_AddPasskeys"/>
</div>