@page "/credentials/list"
@model Passwordless.AdminConsole.Pages.App.Credentials.ListModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
  ViewData["Title"] = "Users";
  var requestToken = Antiforgery.GetAndStoreTokens(Model.HttpContext).RequestToken;
}

<div class="mt-8 flow-root">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table class="tbl-default min-w-full">
          <thead>
            <tr>
              <th scope="col" class="th-indent">User Id</th>
              <th scope="col">Aliases</th>
              <th scope="col"># Credentials</th>
              <th scope="col">Last seen</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var user in Model.Users)
              {
            <tr>
              <td class="whitespace-nowrap td-indent">
                <a asp-page="/app/credentials/user" asp-route-userid="@user.UserId">@user.UserId</a>
              </td>
              <td class="whitespace-nowrap">(@user.AliasCount) @String.Join(", ", @user.Aliases?.Where(a => !String.IsNullOrEmpty(a)) ?? Array.Empty<string>())</td>
              <td class="whitespace-nowrap">@user.CredentialsCount</td>
                <td class="whitespace-nowrap">
                    @if (user.LastUsedAt.HasValue)
                    {
                        <local-time datetime="@user.LastUsedAt.Value"></local-time>
                    }
                </td>
            </tr>
              }
            @if (Model.Users.Count == 0)
              {
                <tr><td class="whitespace-nowrap">No users found</td><td></td><td></td><td></td></tr>
              }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
