@page "/credentials/list"
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model ListModel

@{
  ViewData["Title"] = "Users";
  var requestToken = Antiforgery.GetAndStoreTokens(Model.HttpContext).RequestToken;
}

@if (Model.MaxUsers.HasValue)
{
    <panel header="Danger">
    
        @if (Model.MaxUsers <= Model.Users.Count)
        {
            <danger-alert-box message="@Model.Users.Count out of your @Model.MaxUsers user limit are currently in use. Consider upgrading your plan to accommodate more users."></danger-alert-box>
        }
        else
        {
            <info-alert-box message="@Model.Users.Count users of your @Model.MaxUsers user limit are currently in use."></info-alert-box>
        }
    </panel>
}

<panel header="Users">
    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table class="tbl-default min-w-full">
            <thead>
            <tr>
                <th scope="col" class="th-indent">User Id</th>
                <th scope="col">Aliases</th>
                <th scope="col"># Credentials</th>
                <th scope="col">Last seen</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td class="whitespace-nowrap td-indent">
                        <a asp-page="/app/credentials/user" asp-route-userid="@user.UserId">@user.UserId</a>
                    </td>
                    <td class="whitespace-nowrap">(@user.AliasCount) @String.Join(", ", @user.Aliases?.Where(a => !String.IsNullOrEmpty(a)) ?? Array.Empty<string>())</td>
                    <td class="whitespace-nowrap">@user.CredentialsCount</td>
                    <td class="whitespace-nowrap">
                        @if (user.LastUsedAt.HasValue)
                        {
                            <asp-local-time datetime="@user.LastUsedAt.Value" />
                        }
                    </td>
                </tr>
            }
            @if (Model.Users.Count == 0)
            {
                <tr><td class="whitespace-nowrap">No users found</td><td></td><td></td><td></td></tr>
            }
            </tbody>
        </table>
    </div>
</panel>