@page "/credentials/list"
@model ListModel
@inject Microsoft.Extensions.Options.IOptionsSnapshot<PasswordlessOptions> passwordlessOptions
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
  ViewData["Title"] = "Users";
  var requestToken = Antiforgery.GetAndStoreTokens(Model.HttpContext).RequestToken;
}

<div class="mt-8 flow-root">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-200">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">User Id</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Aliases</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"># Credentials</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last seen</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            @foreach (var user in Model.Users)
              {
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-primary-500 sm:pl-6">
                <a asp-page="/app/credentials/user" asp-route-userid="@user.UserId">@user.UserId</a>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">(@user.AliasCount) @String.Join(", ", @user.Aliases.Where(a => !String.IsNullOrEmpty(a)))</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@user.CredentialsCount</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@user.LastUsedAt.ToLocalTime()</td>
            </tr>
              }
            @if (Model.Users.Count == 0)
              {
                <tr><td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">No users found</td><td></td><td></td><td></td></tr>
              }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

