@page "/credentials/user/{userid}"
@using Microsoft.Extensions.Options
@using Passwordless.AdminConsole.Middleware
@using Passwordless.Common.Extensions
@inject IOptions<PasswordlessOptions> Options
@inject ICurrentContext CurrentContext
@model UserModel

@{
    ViewData["Title"] = "User Details";
}

<div id="vue">
    <p>This pages summarizes the information for user <partial name="_Badge" model="@Model.UserId"/></p>

    <div class="sm:flex sm:items-center mt-8 mb-4">
        <div class="sm:flex-auto">
            <h2 class="text-base font-semibold leading-6 text-gray-900">Credentials</h2>
        </div>
    </div>

    @if (Model.Credentials.Count == 0)
    {
        <p>No credentials registered for this user</p>
    }
    <div style="display: flex;
                  gap: 20px;
                  flex-wrap: wrap;">
        @foreach (var cred in Model.Credentials)
        {
            <div class="overflow-hidden bg-white shadow sm:rounded-lg max-w-fit">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-base font-semibold leading-6 text-gray-900">@cred.Device</h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">@(cred.Nickname ?? "No nickname")</p>
                    <dl class="mt-2">
                        <div class="flex items-center">
                            <dt class="text-sm font-medium text-gray-500 mr-2">Created:</dt>
                            <dd class="text-sm text-gray-900">
                                <asp-local-time datetime="@cred.CreatedAt"/>
                            </dd>
                        </div>
                        <div class="flex items-center">
                            <dt class="text-sm font-medium text-gray-500 mr-2">Last used:</dt>
                            <dd class="text-sm text-gray-900">
                                <asp-local-time datetime="@cred.LastUsedAt"/>
                            </dd>
                        </div>
                        <button
                            type="button"
                            v-cloak
                            v-on:click="onShow('@cred.Descriptor.Id.ToBase64Url()')"
                            v-if="!showDetails('@cred.Descriptor.Id.ToBase64Url()')"
                            class="block mt-2 mr-auto rounded py-1 text-xs font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                            Show more
                        </button>
                    </dl>
                </div>
                <div v-if="showDetails('@cred.Descriptor.Id.ToBase64Url()')" class="border-t border-gray-200 px-4 py-5 sm:px-6">
                    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                        <div class="sm:col-span-2">
                            <dt class="text-sm font-medium text-gray-500">Credential Id</dt>
                            <dd class="mt-1 text-sm text-gray-900 font-mono">@cred.Descriptor.Id.ToBase64Url()</dd>
                        </div>
                        <div class="sm:col-span-2">
                            <dt class="text-sm font-medium text-gray-500">Public Key</dt>
                            <dd class="mt-1 text-sm text-gray-900 font-mono">@cred.PublicKey.ToBase64Url()</dd>
                        </div>

                        <div class="sm:col-span-1">
                            <dt class="text-sm font-medium text-gray-500">Type</dt>
                            <dd class="mt-1 text-sm text-gray-900">@cred.AttestationFmt</dd>
                        </div>
                        <div class="sm:col-span-1">
                            <dt class="text-sm font-medium text-gray-500">Counter</dt>
                            <dd class="mt-1 text-sm text-gray-900">@cred.SignatureCounter</dd>
                        </div>
                        <div class="sm:col-span-1">
                            <dt class="text-sm font-medium text-gray-500">RPID</dt>
                            <dd class="mt-1 text-sm text-gray-900 font-mono">@cred.RPID</dd>
                        </div>
                        <div class="sm:col-span-1">
                            <dt class="text-sm font-medium text-gray-500">Origin</dt>
                            <dd class="mt-1 text-sm text-gray-900">@cred.Origin</dd>
                        </div>

                        <div class="sm:col-span-2">
                            <dt class="text-sm font-medium text-gray-500">AaGuid</dt>
                            <dd class="mt-1 text-sm text-gray-900 font-mono">@cred.AaGuid</dd>
                        </div>

                        <div class="sm:col-span-1">
                            <dt class="text-sm font-medium text-gray-500">Discoverable</dt>
                            <dd class="mt-1 text-sm text-gray-900">@cred.IsDiscoverable</dd>
                        </div>

                        <div class="sm:col-span-1">
                            <dt class="text-sm font-medium text-gray-500">Backup State / Synced</dt>
                            <dd class="mt-1 text-sm text-gray-900">@cred.BackupState</dd>
                        </div>

                        <div class="sm:col-span-1">
                            <dt class="text-sm font-medium text-gray-500">Backup Eligibility</dt>
                            <dd class="mt-1 text-sm text-gray-900">@cred.IsBackupEligible</dd>
                        </div>

                    </dl>
                </div>
                <div v-if="showDetails('@cred.Descriptor.Id.ToBase64Url()')" v-cloak class="border-t border-gray-200 px-4 py-5 sm:px-6 flex">
                    <button
                        type="button"
                        v-on:click="onShow('@cred.Descriptor.Id.ToBase64Url()')"
                        class="block mr-auto rounded py-1 text-xs font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                        Show less
                    </button>
                    <a
                        asp-page="Delete"
                        asp-route-userid="@Model.UserId"
                        asp-route-credentialId="@cred.Descriptor.Id.ToBase64Url()"
                        type="button"
                        class="block ml-auto btn-danger">
                        Remove
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="sm:flex sm:items-center mt-8 mb-4">
        <div class="sm:flex-auto">
            <h2 class="text-base font-semibold leading-6 text-gray-900">Aliases</h2>
            @* <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p> *@
        </div>
    </div>
    <info-alert-box message="Please note that aliases that are hashed cannot be shown in plaintext."></info-alert-box>
    <div class="aliases">
        <ul class="list-disc mt-4">
            @foreach (var alias in Model.Aliases)
            {
        @* <i class="bi bi-trash3 link-danger"></i> *@
                @if (!string.IsNullOrEmpty(alias.Plaintext))
                {
                    <li class="ml-8">@alias.Plaintext</li>
                }
                else
                {
                    <li class="ml-8 italic">Hashed alias</li>
                }
            }
        </ul>
    </div>
</div>

<partial name="Shared/_PasswordlessClientJs"/>

@section Scripts {
    <script type="module">
  import { createApp, ref } from 'vue';
  createApp({
    setup() {
      const visibleCreds = ref({});
      const showDetails = (id) => {
        return visibleCreds.value[id];
      }
      const onShow = (id) => {
        visibleCreds.value[id] = !visibleCreds.value[id];
      }

      const p = new Passwordless.Client({
        apiUrl: "@Options.Value.ApiUrl",
        apiKey: "@CurrentContext.ApiKey"
      });

      const createNewCredential = () => {
        // Get register token from server side rendering
        p.register("@Model.RegisterToken");
      }

      return {
        showDetails,
        onShow,
      }
    }
  }).mount('#vue');
</script>
}