@using Microsoft.Extensions.Options
@using Passwordless.AdminConsole.Helpers
@inject IOptions<PasswordlessOptions> Options

@{
    var hasCredentialAddFeedback = Context.Request.Query.ContainsKey("CredentialAddStatus");
    var credentialAddStatus = hasCredentialAddFeedback ? Context.Request.Query["CredentialAddStatus"].ToString() : null;
    var credentialAddMessage = hasCredentialAddFeedback ? Context.Request.Query["CredentialAddMessage"].ToString() : null;
}

<div id="addPasskeysPanel">
    <form v-on:submit="registerCredential">
        <fieldset id="registerCredentialFields">
            <div class="mt-2 flex">
                <div class="relative flex flex-grow items-stretch focus-within:z-10  max-w-md">
                    <input
                        type="text" name="nickname" id="nickname" placeholder="Enter a nickname (e.g. My Work laptop) for this security key"
                        class="block w-full rounded-none rounded-l-md border-0 py-2 px-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                </div>
                <button type="submit" class="btn-secondary rounded-l-none">
                    Add Passkey
                </button>
            </div>
        </fieldset>
    </form>

    <div asp-if="hasCredentialAddFeedback" class="status mt-3" v-cloak>
        <danger-alert-box asp-if="@(credentialAddStatus == "error")" message="@credentialAddMessage"></danger-alert-box>
    </div>
</div>

@Html.PartialSectionScripts(@<script type="module">
    import { createApp, ref, reactive } from 'vue';
    createApp({
        setup() {            
            const p = new Passwordless.Client({
                apiUrl: "@Options.Value.ApiUrl",
                apiKey: "@Options.Value.ApiKey"
            });
            
            const supportsPasskeys = ref(false);
            const supportsSecurityKeys = ref(false);
            Passwordless.isPlatformSupported().then(s => supportsPasskeys.value = s);
            supportsSecurityKeys.value = Passwordless.isBrowserSupported();
            
            const feedback = reactive({
                status: "",
                message: ""
            });
            
            const working = ref(false);
            
            const removeQueryParams = (url, paramsToRemove) => {
                let urlParts = url.split('?');
                if (urlParts.length >= 2) {
                    let baseUrl = urlParts[0];
                    let queryParams = urlParts[1].split('&');
            
                    // Filter out the parameters to remove
                    queryParams = queryParams.filter(param => {
                        let key = param.split('=')[0];
                        return !paramsToRemove.includes(key);
                    });
            
                    // Reconstruct the URL
                    if (queryParams.length > 0) {
                        url = baseUrl + '?' + queryParams.join('&');
                    } else {
                        url = baseUrl;
                    }
                }
            
                return url;
            }
            
            const registerCredential = async (e) => {
                e.preventDefault();
                if (working.value) return;
                working.value = true;

                try {
                    feedback.status = "started";                
                    const data = new FormData(e.target);
                    const req = await fetch("/passwordless-add-credential", {
                        method: "POST",
                        body: JSON.stringify({ displayName: data.get("nickname")}),
                        headers: {
                            "Content-Type": "application/json",
                        }
                    });
                    
                    try {
                        if (!req.ok) throw new Error("Backend request failed");
                        
                        const registerToken = await req.json();
                        const nicknameForDevice = data.get("nickname");                    
                        const {token, error } = await p.register(registerToken.token, nicknameForDevice);
                        if (token) {
                            feedback.status = "completed";
                            feedback.message = "Passkey added successfully";
                        } else {
                            feedback.status = "error";
                            if (error.from == "client" && !error.errorCode) {
                                feedback.message = "No passkey was added. Please try again.";
                            } else {
                                if (error.errors && error.errors.nickname && error.errors.nickname.length > 0) {
                                    feedback.message = error.errors.nickname[0];
                                } else {
                                    feedback.message = error.title;
                                }
                            }
                        }
                    } catch (e) {                    
                        feedback.status = "error";
                        feedback.message = "No passkey was added. Please try again.";
                    }
                } finally {
                    working.value = false;
                    let url = window.location.href;
                    let paramsToRemove = ['CredentialAddStatus', 'CredentialAddMessage'];
                    let cleanedUrl = removeQueryParams(url,  paramsToRemove);
                    if (cleanedUrl.indexOf('?') > -1){
                        cleanedUrl += `&CredentialAddStatus=${feedback.status}&CredentialAddMessage=${feedback.message}`
                    } else {
                        cleanedUrl += `?CredentialAddStatus=${feedback.status}&CredentialAddMessage=${feedback.message}`
                    }
                    window.location.href = cleanedUrl;
                }
            }
            
            return {
                registerCredential,
                feedback,
                supportsPasskeys,
                supportsSecurityKeys
            }
        }
    }).mount('#addPasskeysPanel');</script>)