@using Passwordless.AdminConsole.Helpers
@model Passwordless.AdminConsole.Pages.Components.ManagePasskeys.PasskeysModel

<div id="credentialsApp" class="flex flex-col gap-10">
    <div>
        <form asp-page-handler="removeCredential" method="post">
            <div class="flex flex-wrap gap-5 mb-3">
                @foreach (var cred in Model.Credentials)
                {
                    <div class="overflow-hidden bg-white shadow sm:rounded-lg max-w-fit">
                        <div class="px-4 py-5 sm:px-6">
                            <h3 class="text-base font-semibold leading-6 text-gray-900">@cred.Device</h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">@(cred.Nickname ?? "No nickname")</p>
                            <dl class="mt-2">
                                <div class="flex items-center">
                                    <dt class="text-sm font-medium text-gray-500 mr-2">Created:</dt>
                                    <dd class="text-sm text-gray-900">
                                        <local-time datetime="@cred.CreatedAt"></local-time>
                                    </dd>
                                </div>
                                <div class="flex items-center">
                                    <dt class="text-sm font-medium text-gray-500 mr-2">Last used:</dt>
                                    <dd class="text-sm text-gray-900">
                                        <local-time datetime="@cred.LastUsedAt"></local-time>
                                    </dd>
                                </div>

                                @if (!Model.HideDetails)
                                {
                                <button
                                    type="button"
                                    v-cloak
                                    v-on:click="onShow('@cred.Descriptor.Id.ToBase64Url()')"
                                    v-if="!showDetails('@cred.Descriptor.Id.ToBase64Url()')"
                                    class="block mt-2 mr-auto rounded py-1 text-xs font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                                    Show more
                                </button>
                                }
                            </dl>
                        </div>
                        @if (!Model.HideDetails)
                        {
                        <div v-if="showDetails('@cred.Descriptor.Id.ToBase64Url()')" class="border-t border-gray-200 px-4 py-5 sm:px-6">
                            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                                <div class="sm:col-span-2">
                                    <dt class="text-sm font-medium text-gray-500">Credential Id</dt>
                                    <dd class="mt-1 text-sm text-gray-900 font-mono">@cred.Descriptor.Id.ToBase64Url()</dd>
                                </div>
                                <div class="sm:col-span-2">
                                    <dt class="text-sm font-medium text-gray-500">Public Key</dt>
                                    <dd class="mt-1 text-sm text-gray-900 font-mono">@cred.PublicKey.ToBase64Url()</dd>
                                </div>

                                <div class="sm:col-span-1">
                                    <dt class="text-sm font-medium text-gray-500">Type</dt>
                                    <dd class="mt-1 text-sm text-gray-900">@cred.AttestationFmt</dd>
                                </div>
                                <div class="sm:col-span-1">
                                    <dt class="text-sm font-medium text-gray-500">Counter</dt>
                                    <dd class="mt-1 text-sm text-gray-900">@cred.SignatureCounter</dd>
                                </div>
                                <div class="sm:col-span-1">
                                    <dt class="text-sm font-medium text-gray-500">RPID</dt>
                                    <dd class="mt-1 text-sm text-gray-900 font-mono">@cred.RPID</dd>
                                </div>
                                <div class="sm:col-span-1">
                                    <dt class="text-sm font-medium text-gray-500">Origin</dt>
                                    <dd class="mt-1 text-sm text-gray-900">@cred.Origin</dd>
                                </div>

                                <div class="sm:col-span-2">
                                    <dt class="text-sm font-medium text-gray-500">AaGuid</dt>
                                    <dd class="mt-1 text-sm text-gray-900 font-mono">@cred.AaGuid</dd>
                                </div>
                            </dl>
                        </div>
                        <div v-if="showDetails('@cred.Descriptor.Id.ToBase64Url()')" class="border-t border-gray-200 px-4 py-5 sm:px-6 flex">
                            <button
                                type="button"
                                v-on:click="onShow('@cred.Descriptor.Id.ToBase64Url()')"
                                v-cloak
                                class="block mr-auto rounded py-1 text-xs font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                                Show less
                            </button>
                            <button
                                type="submit"
                                name="credentialId" value="@cred.Descriptor.Id.ToBase64Url()"
                                class="block ml-auto rounded bg-red-600 py-1 px-2 text-xs font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                                Remove
                            </button>
                        </div>
                        }
                    </div>
                }
            </div>
        </form>
    </div>
</div>

@Html.PartialSectionScripts(@<script type="module">
import { createApp, ref } from 'vue';

createApp({
    setup() {
        const visibleCreds = ref({});
        const showDetails = (id) => {
            return visibleCreds.value[id];
        };
        const onShow = (id) => {
                        visibleCreds.value[id] = !visibleCreds.value[id];
        };



            return {
                showDetails,
                onShow
            }
    }
}).mount('#credentialsApp');

</script>)