@page "/Organization/CreateApplication"

@using Microsoft.Extensions.Options
@using Passwordless.AdminConsole.Billing.Configuration
@using Passwordless.AdminConsole.Services.PasswordlessManagement

@inject IOptionsSnapshot<PasswordlessOptions> PasswordlessOptions;
@inject IApplicationService ApplicationService;
@inject IDataService DataService;
@inject IPasswordlessManagementClient ManagementClient;
@inject IOptionsSnapshot<BillingOptions> BillingOptions;
@inject ISharedBillingService BillingService;    
@inject NavigationManager NavigationManager;
@inject IHttpContextAccessor HttpContextAccessor;
@inject ICurrentContext CurrentContext;

<Page Title="New App">
    <Panel class="sm:w-full sm:max-w-md">
        @if (FormEditContext != null)
        {
            <EditForm class="space-y-6" EditContext="@FormEditContext" FormName="@FormName" OnValidSubmit="@OnSubmittedAsync">
            <div>
                <label for="application-name" class="form-label">Application name</label>
                <div class="mt-2">
                    <InputText id="application-name" class="text-input" @bind-Value="Form.Name"/>
                </div>
            </div>

            <div>
                <label for="application-description" class="form-label">Description</label>
                <div class="mt-2">
                    <InputText id="application-description" class="text-input" @bind-Value="Form.Description"/>
                </div>
            </div>

            @if (CurrentContext.Organization!.HasSubscription)
            {
                <div>
                    <label class="form-label">Plan</label>
                    <ul class="radio-horizontal mt-2">
                        <InputRadioGroup @bind-Value="Form.Plan">
                            @foreach (var availablePlan in AvailablePlans)
                            {
                                <li>
                                    <div>
                                        <InputRadio id="@($"{availablePlan.Id}-radio")" Value="@availablePlan.Id" type="radio" class="radio-input"/>
                                        <label for="@($"{availablePlan.Id}-radio")" class="radio-label">@availablePlan.Label</label>
                                    </div>
                                </li>
                            }
                        </InputRadioGroup>
                    </ul>
                   
                    <Alert class="mt-4" Style="@ContextualStyles.Info">
                        The application can always be assigned to a different plan later in the 'Billing' section.
                    </Alert>
                </div>
            }
            else
            {
                <input type="hidden" name="Form.Plan"/>
            }
            
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <div>
                <button type="submit" class="btn-primary">Create</button>
            </div>
        </EditForm>
        }
    </Panel>
</Page>