@page "/Organization/CreateApplication"

@using Microsoft.Extensions.Options
@using Passwordless.AdminConsole.Billing.Configuration
@using Passwordless.AdminConsole.Services.PasswordlessManagement

@inject IOptionsSnapshot<PasswordlessOptions> PasswordlessOptions;
@inject IApplicationService ApplicationService;
@inject IDataService DataService;
@inject IPasswordlessManagementClient ManagementClient;
@inject IOptionsSnapshot<BillingOptions> BillingOptions;
@inject ISharedBillingService BillingService;    
@inject NavigationManager NavigationManager;
@inject IHttpContextAccessor HttpContextAccessor;
@inject ICurrentContext CurrentContext;

<Page Title="New App">
    @if (CanCreateApplication != null && !CanCreateApplication.Value)
    {
        <Alert Style="@ContextualStyles.Danger">
            You need to <a href="/billing/manage">upgrade</a> to a paid organization to create more applications.
        </Alert>
    }
    
    <Panel>
        <EditForm class="space-y-6" FormName="@FormName" OnValidSubmit="@OnSubmittedAsync">
            <div>
                <label for="application-name" class="form-label">Application name</label>
                <div class="mt-2">
                    <InputText id="application-name" class="text-input" @bind-Value="Form.Name" />
                    <ValidationMessage For="() => Form.Name" /> 
                </div>
            </div>

            <div>
                <label for="application-description" class="form-label">Description</label>
                <div class="mt-2">
                    <InputText id="application-description" class="text-input" @bind-Value="Form.Description" />
                    <ValidationMessage For="() => Form.Description" />
                </div>
            </div>

            @if (CurrentContext.Organization!.HasSubscription)
            {
                <div>
                    <label asp-for="Form.Plan" class="form-label">Plan</label>
                    <ul class="radio-horizontal mt-2">
                        @foreach (var availablePlan in AvailablePlans)
                        {
                            <li>
                                <div>
                                    <input id="@availablePlan.Id" name="Form.Plan" type="radio" value="@availablePlan.Id" checked="@(Form.Plan == availablePlan.Id)">
                                    <label for="@availablePlan.Id">@availablePlan.Label</label>
                                </div>
                            </li>
                        }
                    </ul>
                    <Alert Style="@ContextualStyles.Info">
                        The application can always be assigned to a different plan later in the 'Billing' section.
                    </Alert>
                </div>
            }
            else
            {
                <input type="hidden" name="Form.Plan"/>
            }
            
            <div>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <button type="submit" class="btn-primary">Create</button>
            </div>
        </EditForm>
    </Panel>
</Page>