@page
@model AdminConsole.Pages.Settings.Log

@{
    ViewBag.Title = "Audit Log";
}


<div>
    <table>
        <thead>
        <tr>
            <th>Performed By</th>
            <th>Performed At</th>
            <th>Severity</th>
            <th>Message</th>
            <th>Subject</th>
            <th>Event Type</th>
            <th>Api Key</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var auditEvent in Model.Events)
        {
            <tr>
                <td>@auditEvent.PerformedBy</td>
                <td>@auditEvent.PerformedAt.ToLocalTime()</td>
                <td>@auditEvent.Severity</td>
                <td>@auditEvent.Message</td>
                <td>@auditEvent.Subject</td>
                <td>@auditEvent.EventType</td>
                <td>@string.Join("*****", auditEvent.ApiKeyAbbreviated)</td>
            </tr>
        }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.PageList.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.PageList.HasNextPage ? "disabled" : "";
    }
    
    <a @prevDisabled asp-route-pageIndex="@(Model.PageList.CurrentIndex-1)">Prev</a>
    @foreach (var page in Model.PageList.Pages)
    {
        <a class="pr-3 link-blue" asp-page="./Index" asp-route-pageIndex="@(page)">@(page)</a>
    }
    <a @nextDisabled asp-route-pageIndex="@(Model.PageList.CurrentIndex+1)">Next</a>
</div>