@page
@model Admins

@{
    ViewBag.Title = "Admins";
}

<div class="mt-8 flow-root">
    <div class="inline-block min-w-full">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-200">
                <tr>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Email</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Action</th>
                </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                <form asp-page-handler="Delete" method="post">
                    @foreach (var user in Model.ConsoleAdmins)
                    {
                        <tr>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@user.Name</td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@user.Email</td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                <button class="btn-danger" name="userId" value="@user.Id">Delete</button>
                            </td>
                        </tr>
                    }
                </form>
                @if (Model.ConsoleAdmins.Count == 0)
              {
                <tr><td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">No admins found</td><td></td><td></td><td></td></tr>
              }
                </tbody>
            </table>
        </div>
    </div>

    <h2 class="h2">Invites</h2>

    <div class="inline-block min-w-full">
        @if (!Model.CanInviteAdmin)
            {
                <Feedback 
                    name="_error" 
                    LinkUrl="@Url.PageLink("/Billing/Manage")" 
                    LinkText="Upgrade"
                    message="You need to upgrade to a paid organization to invite more admins" 
                />
            }
        else 
            {
                <form asp-page-handler="Invite" only-once>
                    <div class="mb-4 flex">
                        <div class="relative flex flex-grow items-stretch focus-within:z-10  max-w-md">
                            <input asp-for="Form.Email" placeholder="recipient@example.com"
                                class="block w-full rounded-none rounded-l-md border-0 py-2 px-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                        </div>
                        <button type="submit" class="btn-primary inline">
                            Send invite
                        </button>
                    </div>
                    <div asp-validation-summary="All"></div>
                </form>
            }
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-200">
                <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Recipient</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Invited</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Sender</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Action</th>
                </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                <form asp-page-handler="Cancel" method="post">
                    @foreach (var inv in Model.Invites)
                    {
                        <tr>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@inv.ToEmail</td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><local-time datetime="@inv.CreatedAt.ToLocalTime()"></local-time></td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Sent</td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@inv.FromName</td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                <button class="btn-secondary" name="hashedCode" value="@inv.HashedCode">Cancel</button>
                            </td>
                        </tr>
                    }
                </form>
                @if (Model.Invites.Count == 0)
                    {
                        <tr><td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">No invites found</td><td></td><td></td><td></td><td></td></tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</div>