@page
@model Passwordless.AdminConsole.Pages.Organization.Log

@{
    ViewBag.Title = "Organization Events";
}

<div>
    <p>See events regarding admins of the organization.</p>
    <br>
    <div class="flow-root" asp-if="Model.Events.Any()">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                    <table class="tbl-default min-w-full">
                        <thead>
                        <tr>
                            <th scope="col" class="th-indent">
                                Performed At
                            </th>
                            <th scope="col">
                                Performed By
                            </th>
                            <th scope="col">
                                Severity
                            </th>
                            <th scope="col">
                                Message
                            </th>
                            <th scope="col">
                                Subject
                            </th>
                            <th scope="col" class="whitespace-nowrap">
                                Event Type
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var logEvent in Model.Events)
                        {
                            <tr>
                                <td
                                    class="whitespace-nowrap td-indent td-strong">
                                    @logEvent.PerformedAt
                                </td>
                                <td class="whitespace-nowrap">
                                    @logEvent.PerformedBy
                                </td>
                                <td class="whitespace-nowrap">
                                    @logEvent.Severity
                                </td>
                                <td>
                                    @logEvent.Message
                                </td>
                                <td class="whitespace-nowrap">
                                    @logEvent.Subject
                                </td>
                                <td class="whitespace-nowrap">
                                    @logEvent.EventType
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <p asp-if="!Model.Events.Any()">This organization has no events from the past @Model.RetentionPeriod days.</p>

    <div asp-if="Model.PageList.TotalPages > 1" class="flex justify-center">
        <a asp-if="Model.PageList.HasPreviousPage" asp-page="./Log" class="px-1 btn btn-primary" asp-route-pageNumber="@(Model.PageList.CurrentIndex - 1)">Prev</a>

        @foreach (var page in Model.PageList.Pages)
        {
            <a asp-page="./Log" class="px-1 link-blue" asp-route-pageNumber="@(page)">@(page)</a>
        }

        <a asp-if="Model.PageList.HasNextPage" asp-page="./Log" class="px-1 btn btn-primary" asp-route-pageNumber="@(Model.PageList.CurrentIndex + 1)">Next</a>
    </div>
</div>